AUTH_TYPE=clerk
AUTH_CONFIG=[CLERK_SECRET]
SERVICE_CORS_ALLOWORIGINS="http://localhost,http://localhost:5173"
SERVICE_CORS_ALLOWWILDCARD=true
SERVICE_CORS_ALLOWCREDENTIALS=true
SERVICE_CORS_ALLOWMETHODS="GET,POST,PUT,DELETE,OPTIONS"
SERVICE_CORS_ALLOWHEADERS="Authorization,Content-Type"
LOG_LEVEL=debug