AUTH_TYPE=clerk
AUTH_CONFIG=[CLERK_SECRET]
SERVICE_CORS_ALLOWORIGINS="http://localhost,http://localhost:5173"
SERVICE_CORS_ALLOWWILDCARD=true
SERVICE_CORS_ALLOWCREDENTIALS=true
SERVICE_CORS_ALLOWMETHODS="GET,POST,PUT,DELETE,OPTIONS"
SERVICE_CORS_ALLOWHEADERS="Authorization,Content-Type"
LOG_LEVEL=debug

# google calendar integration
GOOGLE_CALENDAR_CLIENT_ID=
GOOGLE_CALENDAR_CLIENT_SECRET=
GOOGLE_CALENDAR_REDIRECT_URL=http://localhost:8080/api/calendar/auth/callback

TOKEN_ENCRYPTION_KEY=$(openssl rand -base64 32)