services:
  mysql:
    image: mysql:latest
    ports:
      - "33306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: xtp_tour_secret_password
      MYSQL_DATABASE: xtp_tour
    volumes:
      - ./.data/db:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - xtp-tour

  adminer:
    image: adminer
    ports:
      - "38080:8080"
    environment:
      ADMINER_DEFAULT_SERVER: mysql
    depends_on:
      - mysql
    networks:
      - xtp-tour

networks:
  xtp-tour:
    driver: bridge
