name: Main CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  backend:
    uses: ./.github/workflows/backend.yaml
  
  frontend:
    uses: ./.github/workflows/frontend.yaml
    
  release:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: [backend, frontend]
    uses: ./.github/workflows/release.yaml 