name: Main

on:
  push:
    branches: [ main ]  
  workflow_dispatch:

permissions:
  contents: write
  packages: write

jobs:
  backend:
    uses: xtp-tour/xtp-tour/.github/workflows/backend.yaml@main 
  
  frontend:
    uses: xtp-tour/xtp-tour/.github/workflows/frontend.yaml@main 
    